/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;p
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* THIS IS HOW TO COMMENT ON CSS */

/* MY CODE */




@font-face {
    font-family: 
    src: url('../fonts/');
}

a {
    color: black;
    text-decoration: none;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    
}
    


header {
    width: 100%;
    height: 180px;
    background-color: #000099;
    
}

header img {

    width: 43%;
    margin-top: 6px;
    height: 160px;
    padding-left: ;
    float: left;
}


header nav {
    float: right;
}

header nav ul {
  margin-top: 70px
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
    
}

header nav ul li a {
    font-family: arial;
    font-size: 20px;
    color: #fff;
      
}


/* -------------------  DROP DOWN------------------- */

.dropbtn {
    background-color: #000099;
    padding: 16px;
    font-family: arial;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #4b4b4b;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #4b4b4b}

.show {display:block;}


.contact {
    color: black;
}

body {
    background-image: ;
    background-color: #cccccc;
}

.Banner1 {
    padding-top: 20px;    
    
}

.BannerE {
    border: 2px solid #fff;
    box-shadow: 10px 10px 10px white;
}

.BannerS {
  border: 2px solid #fff;
  box-shadow: 10px 10px 10px white;
}

.Banner1s {
  border: 2px solid #fff;
  box-shadow: 10px 10px 10px white;
}

.BannerCU{
    padding-top: 20px;   
    margin-left: 30em;
    
    
}

.BannerCU1 {
  border: 2px solid #fff;
  box-shadow: 10px 10px 10px white;
  border-radius: 20px; 
}

.index-entro {
    width: 100%;
    padding: 70px 0px;
    
}

.index-entro h2 {
    font-weight: 700px;
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
    text-transform: capitalize;
    color: black;
  }

.index-entro p {
    font-weight: 600px;
    font-size: 22px;
    text-align: center;
    line-height: 25px;
    margin: 20px;
    color: black;
}

/*------- SPARES PAGE-------*/
 
.Banner1 img{
    border-radius: 23px;
}

 

/*------- EQUIPMENT PAGE -------*/


/*-------- CONTACT PAGE -------*/

.contact-info {
    font-size: 30px;
    margin-left: 15em;

}

.contact-info h2 {
    font-size: 40px;
    margin-top: 20px;
    color: black;
}


.c1 {
   padding-left: 1.6em;

}
.c2{
   color: black;
   padding-left: .7em;

}

.c3 {
    padding-left: 2.8em;

}

.iconimg {
    width: 100px;
    height: 100px;

}


.contact-info button {
    width: 80px;
    height: 30px;
    background-color: #ff3300;
    border: none;
    font-size: 15;
    color: #fff;
    padding: 1px 1px;
    margin: 20px;

    }




/*-------- CLIENTS PAGE -------*/


.Coming-Soon {
    width: 100%;
    padding: 80px 0px;
    overflow: hidden;
}

.Coming-Soon article {
    width: 53%;
    float: left;
    margin: 0px 4.1%;
}


.Coming-Soonbody {
   width: 100%;
   height: 300px;
   background-image: url(../img/UNDER.jpg);
   transition: all;
   transition-duration: 900ms;
   transition-timing-function: linear;
   transition-delay: 1s;

} 

/*-----------FOOTER------------*/


footer nav {
    float: left;
}

footer nav ul {
  }

footer nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

footer nav ul li a {
    font-family: arial;
    font-size: 15px;
    color: #fff;

}

footer {
    width: 100%;
    height: 30px;
    background-color:  #000099;
    padding: 50px 0px;
    overflow: hidden;
}


.facebook-icon {
    float: right;
    margin-top: -40px;
    
}